# for the moment, ignore all hidden files AND directories
# it's possible to include .gitignore with a $ git add -f ...

.*
.*~
*#

# ignore these suffixes

*~
*.css
*.err
*.log

# these directories

gdu
ar/
*_backup
*_files

# and these files

Emacs
reading/*.???
bin/bin*